<main>
    <article>
      

        <section class="section projects" aria-labelledby="projects-label">
            <div class="container">
                <h2 class="section-title headline-md text-center" id="projects-label">Latest Projects</h2>

                <ul class="projects-list">

                    
                    <li>
                        <div class="project-card" style="background-color: rgb(162, 230, 239);">
                            <div class="card-banner img-holder" style="--width: 500; --height: 260;">
                                <img src="./assets/images/project2.jpg" width="500" height="260" loading="lazy"
                                    alt="Connect My Artist" class="img-cover">
                              
                            </div>
                            <div class="card-content">
                                
                                <h2 class="title-md">Personal Health Record</h2>
                                <p class="card-text">
                                    Our Personal Health Record (PHR) application empowers individuals to take control of their health information. This secure, user-centric platform allows users to store, manage, and share their medical data with healthcare providers, ensuring comprehensive and coordinated care.
                                </p>
                              
                            </div>
                          
                        </div>
                    </li>

                    <li>
                        <div class="project-card" style="background-color: #fec548;">
                            <div class="card-banner img-holder" style="--width: 500; --height: 260;">
                                <img src="./assets/images/project3.png" width="500" height="260" loading="lazy"
                                    alt="Personal Health Record" class="img-cover">
                                <a href="#" class="btn-icon" aria-label="More about Personal Health Record">
                                    <span>&rarr;</span>
                                </a>
                            </div>
                            <div class="card-content">
                            
                                <h2 class="title-md">Connect My Artist</h2>
                                <p class="card-text">
                                    Connect My Artist is an innovative platform bridging the gap between talented artists and event organizers. This user-friendly application simplifies the process of discovering, booking, and managing artists for various events, from intimate gatherings to large-scale festivals.
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="project-card" style="background-color: #fecbb4;">
                            <div class="card-banner img-holder" style="--width: 500; --height:260;">
                                <img src="./assets/images/project1.png" width="500" height="260" loading="lazy"
                                    alt="ERP System including CRM" class="img-cover">
                                <a href="#" class="btn-icon" aria-label="More about ERP System including CRM">
                                    <span>&rarr;</span>
                                </a>
                            </div>
                            <div class="card-content">
                            
                                <h2 class="title-md">ERP System</h2>
                                <p class="card-text">
                                    Our comprehensive Enterprise Resource Planning (ERP) system, integrated with a robust Customer Relationship Management (CRM) module, revolutionizes business operations. This all-in-one solution streamlines processes across departments, from finance and human resources to supply chain and customer service.
                                    
                                </p>
                
                            </div>
                        </div>
                    </li>

                  
                </ul>
            </div>
        </section>
    </article>
</main>
