<main>
  <article>
    
      <section class="contact-section">
       
          <div class="container">
            <h1 class="title">Contact Me</h1>
              <div class="contact-content">
                  <figure class="myself-banner">
                      <img src="assets/images/hero-banner.jpg" width="100" height="100" alt="Shobhit Verma" />
                  </figure>
                  <ul class="contact-list">
                      <li class="contact-item">
                          <div class="item-icon" style="background-color: hsl(177, 39%, 72%)">
                              <span class="icon-call"></span> <!-- Replace with your icon -->
                          </div>
                          <div>
                              <p class="label-lg">Phone</p>
                              <a href="tel:+918810613989" class="body-lg">+91 8810613989</a>
                          </div>
                      </li>

                      <li class="contact-item">
                          <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                              <span class="icon-mail"></span> <!-- Replace with your icon -->
                          </div>
                          <div>
                              <p class="label-lg">Mail</p>
                              <a href="mailto:{{myEmail}}" class="body-lg">{{myEmail}}</a>
                          </div>
                      </li>

                      <li class="contact-item">
                          <div class="item-icon" style="background-color: hsl(19, 97%, 85%)">
                              <span class="icon-location"></span> <!-- Replace with your icon -->
                          </div>
                          <div>
                              <p class="label-lg">Linkedin</p>
                              <a href="https://www.linkedin.com/in/shobhit-verma-98554922b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="body-lg">https://www.linkedin.com/Shobhit-Verma</a>
                          </div>
                      </li>

                      <li class="contact-item">
                        <div class="item-icon" style="background-color: hsl(19, 97%, 50%)">
                            <span class="icon-location"></span> <!-- Replace with your icon -->
                        </div>
                        <div>
                            <p class="label-lg">Github</p>
                            <a href="https://github.com/shobhit2020335" class="body-lg">https://github.com/shobhit2020335</a>
                        </div>
                    </li>
                  </ul>
              </div>
          </div>
      </section>
  </article>
</main>
